body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.bl {
    color: crimson;
}

.flex {
    display: flex;
    margin bottom: 100px;
}

.half {
    width: 50%;
    padding-left: 2%;
}

.half img {
    width: 60%;
}

.half1 img {
    width: 80%;
}

.link-button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(green, red);
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#ex {
    padding-left: 2%;
}

.Experiences {
    background-image: url(images/exp-bg.png);
    background-position: top-left;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.ex-items {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px cornflowerblue;
}

#full-stack-web-developer {
    border-left: 7px solid yellowgreen;
}

#learner-web-developer {
    border-left: 7px solid goldenrod;
}

footer {
    text-align: center;
}