body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.bl {
    color: crimson;
}

section {
    display: flex;
    margin: 100px;
}

.half {
    width: 50%;
    padding-left: 2%;
}

.half img {
    width: 55%;
}

.half1 img {
    width: 70%;
}

.link-button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(green, red);
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}